/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Spécifier la fonte : font-family: 'Raleway', sans-serif; */

/* Paramètres généraux */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 95%;
  margin: 0 auto;
  max-width: 1400px;
  font-family: "Raleway", sans-serif;
}

/* NAVBAR */
header nav {
  display: grid;
  grid-template-columns: 80% 20%;
}
#logo-booki {
  padding-top: 30px;
  max-width: 60px;
  cursor: pointer;
}
.nav-ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.nav-ul li {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.nav-ul a {
  text-decoration: none;
  color: black;
}
.nav-ul a:hover {
  color: #0065fc;
}
.nav-ul li:hover {
  border-top: 3px solid #0065fc;
  color: #0065fc;
}

/* Section "recherche" */
.recherche {
  margin-top: 40px;
}
.recherche form {
  margin: 20px 0;
  width: 300px;
  height: 35px;
  border-radius: 15px;
  border: none;
  display: grid;
  grid-template-columns: 10% 50% 40%;
}
.recherche form label {
  background-color: #f2f2f2;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.recherche form input {
  border: 1px solid rgba(128, 128, 128, 0.101);
}
#mobile-form {
  display: none;
}
#barre-recherche {
  padding: 0 10px;
  font-family: "Raleway", sans-serif;
}
#barre-recherche::placeholder {
  color: black;
  font-size: 1em;
  font-weight: 600;
}
.submit {
  background: #0065fc;
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}
/* Parti filtres */

.filtres ul {
  display: flex;
  justify-content: flex-start;
  gap: 50px;
}
.filtres p {
  padding-top: 10px;
  font-weight: bold;
}
.filtres li {
  border: 0.5px solid rgba(128, 128, 128, 0.475);
  padding: 10px 15px;
  border-radius: 25px;
  cursor: pointer;
}
.filtres li:hover {
  background-color: #deebff;
}
.filtres i {
  padding: 0 5px;
  color: #0065fc;
}
.infos {
  margin-top: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.infos i {
  font-size: 0.8em;
  margin-right: 8px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(66, 84, 97, 0.367);
  border-radius: 50%;
  color: #0065fc;
}
/* Parti hébergement */

#hebergement {
  display: grid;
  grid-template-columns: 65% 26%;
  gap: 80px;
}
.hebergement-ville {
  background: #f2f2f2;
  margin: 60px 0;
  padding: 20px;
  border-radius: 20px;
  max-height: 600px;
}
.hebergement-ville h2 {
  margin: 0 15px;
  font-size: 1.2em;
}
.articles-container {
  padding: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.article {
  background: white;
  margin: 10px;
  text-align: left;
  padding: 5px;
  border-radius: 20px;
  -webkit-box-shadow: 3px 3px 27px -3px rgba(0, 0, 0, 0.78);
  box-shadow: 3px 3px 27px -3px rgba(0, 0, 0, 0.217);
  width: 90%;
  cursor: pointer;
}
.article h3 {
  margin: 5px;
  font-size: 0.9em;
}
.article h4 {
  margin: 5px;
  font-size: 0.8em;
  font-weight: 200;
}
.star {
  color: #f2f2f2;
}
.rate {
  font-size: 0.7em;
  color: #0065fc;
}
.article img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 100px;
  width: 100%;
  object-fit: cover;
}
.rate {
  display: flex;
  margin-left: 5px;
}
.rate li {
  cursor: pointer;
}
.hebergement-ville span {
  font-weight: bold;
  margin: 0 15px;
}
/* Parti populaire */
.populaires {
  background: #f2f2f2;
  margin: 60px 0;
  padding: 20px;
  border-radius: 20px;
  max-height: 450;
  position: relative;
}
.populaires h2 {
  font-size: 1.2em;
}
#chart {
  position: absolute;
  right: 5%;
  top: 5%;
  color: #0065fc;
  cursor: pointer;
}
.populaire-container {
  margin-top: 30px;
  height: 85%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.populaire-article {
  display: grid;
  grid-template-columns: 40% 60%;
  padding: 3px;
  background: white;
  border-radius: 15px;
  max-height: 110px;
  -webkit-box-shadow: 3px 3px 27px -3px rgba(0, 0, 0, 0.78);
  box-shadow: 3px 3px 27px -3px rgba(0, 0, 0, 0.226);
  cursor: pointer;
}
.populaire-article img {
  max-height: 105px;

  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.populaire-text {
  position: relative;
  margin-left: 10px;
}
.populaire-text h3 {
  margin: 5px 0;
  font-size: 0.9em;
}
.populaire-text h4 {
  font-size: 0.8em;
  font-weight: 200;
}
.populaire-text .rate {
  position: absolute;
  bottom: 5%;
}
/* ACTIVITES */
.activite-container {
  margin: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;
}
.activite-article {
  cursor: pointer;
  border-radius: 25px;
  -webkit-box-shadow: 3px 3px 27px -3px rgba(0, 0, 0, 0.78);
  box-shadow: 3px 3px 27px -3px rgba(0, 0, 0, 0.226);
}
.activite-article h4 {
  padding: 15px;
  font-size: 0.9em;
}
.activite-article img {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  height: 400px;
  width: 100%;
  object-fit: cover;
}
footer {
  background: #f2f2f2;
  display: grid;
  grid-template-columns: 30% 30% 60%;
  margin-top: 80px;
  padding: 35px;
  min-height: 180px;
}
.footer-ul p {
  font-weight: bold;
}
.footer-ul li {
  margin: 15px 0;
  font-weight: 300;
  font-size: 0.9em;
}

/* RESPONSIVE TABLETTE */
@media screen and (max-width: 992px) {
  /* NAV */
  header nav {
    width: 92%;
  }
  .nav-ul {
    gap: 30px;
  }
  /* FILTRES */
  .filtres ul {
    gap: 20px;
  }
  .filtres li {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 40px;
    font-size: 0.9em;
  }
  /* HEBERGEMENT */
  #hebergement {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
  .hebergement-ville {
    margin: 0;
  }
  /* POPULAIRES */
  .populaire-container {
    display: flex;
    justify-content: space-between;
  }
  .populaire-article {
    width: 30%;
  }
  .populaire-text h3 {
    font-size: 0.75em;
  }
  .populaire-text h4 {
    font-size: 0.7em;
  }
  /* ACTIVITE */
  .activite-container {
    gap: 20px;
  }
  .activite-article img {
    height: 270px;
  }
}
/* PHONE */
@media screen and (max-width: 768px) {
  /* NAV */
  body {
    min-width: 100%;
  }
  header nav {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  header nav h1 {
    text-align: center;
  }
  .nav-ul {
    gap: 0;
    margin-top: 30px;
  }
  .nav-ul li {
    padding-bottom: 20px;
    border-bottom: 3px solid #f2f2f2;
  }
  .nav-ul li:hover {
    border-top: none;
    border-bottom: 3px solid #0065fc;
    color: #0065fc;
  }
  /* RECHERCHE */
  .recherche {
    padding: 0 30px;
  }

  .form-text h2 {
    margin: 20px 0;
  }
  #desktop-form {
    display: none;
  }
  #mobile-form {
    width: 90%;
    margin: 20px 0;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    min-height: 40px;
  }
  #loupe {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* FILTRES */

  .filtres ul {
    justify-content: flex-start;
    display: grid;
    grid-template-areas:
      "a a"
      "b c"
      "d e";
  }
  .filtres ul p {
    grid-area: a;
  }
  .infos {
    margin-top: 30px;
  }
  /* HEBERGEMENT */
  #hebergement {
    flex-direction: column-reverse;
  }
  .populaires {
    margin: 0;
    border-radius: 0;
  }
  .populaire-container {
    display: flex;
    flex-direction: column;
  }
  .populaire-article {
    width: 90%;
    margin: 5px 0;
    min-height: 110px;
  }
  .hebergement-ville {
    background: white;
    max-height: fit-content;
  }
  .articles-container {
    display: flex;
    flex-direction: column;
  }
  .article {
    margin: 10px 0;
  }
  /* ACTIVITE */
  #activite {
    margin-top: 20px;
    padding: 25px;
  }
  .activite-container {
    display: flex;
    flex-direction: column;
  }
  .activite-article {
    max-width: 90%;
  }
  .activite-article img {
    height: 120px;
  }
  /* footer */
  footer {
    margin-top: 0;
    display: flex;
    flex-direction: column;
  }
  footer p {
    margin: 20px 0;
  }
}
