/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Spécifier la fonte : font-family: 'Raleway', sans-serif; */

/* Paramètres généraux */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
body {
  width: 95%;
  margin: 0 auto;
  max-width: 1400px;
  font-family: "Raleway", sans-serif;
}

/* NAVBAR */
header nav {
  display: grid;
  grid-template-columns: 80% 20%;
}
#logo-booki {
  padding-top: 30px;
  max-width: 60px;
  cursor: pointer;
}
.nav-ul {
  display: flex;
  justify-content: space-evenly;
}
.nav-ul li {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.nav-ul li:hover {
  border-top: 2px solid blue;
  color: blue;
}

/* Section "recherche" */
.recherche {
  margin-top: 40px;
}
.recherche form {
  margin: 20px 0;
  width: 300px;
  height: 35px;
  border-radius: 15px;
  border: none;
  display: grid;
  grid-template-columns: 10% 50% 40%;
}
.recherche form label {
  background-color: rgba(128, 128, 128, 0.239);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.recherche form input {
  border: 1px solid rgba(128, 128, 128, 0.101);
}
#barre-recherche {
  padding: 0 10px;
  font-family: "Raleway", sans-serif;
}
#barre-recherche::placeholder {
  color: black;
  font-size: 1em;
  font-weight: 600;
}
#submit {
  background: rgb(0, 106, 255);
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}
/* Parti filtres */
.filtres {
  width: 60%;
}
.filtres ul {
  display: flex;
  justify-content: space-between;
}
.filtres p {
  padding-top: 10px;
  font-weight: bold;
}
.filtres li {
  border: 0.5px solid rgba(128, 128, 128, 0.475);
  padding: 10px 15px;
  border-radius: 25px;
  cursor: pointer;
}
.filtres li:hover {
  background-color: rgba(0, 0, 255, 0.243);
}
.filtres i {
  padding: 0 5px;
  color: rgb(0, 76, 255);
}
.infos {
  margin-top: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.infos i {
  font-size: 0.8em;
  margin-right: 8px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(66, 84, 97, 0.367);
  border-radius: 50%;
  color: rgb(0, 68, 255);
}
/* Parti hébergement */

.hebergement {
  display: grid;
  grid-template-columns: 65% 26%;
  gap: 80px;
}
.hebergement-ville {
  background: rgba(128, 128, 128, 0.177);
  margin: 60px 0;
  padding: 20px;
  border-radius: 20px;
  max-height: 600px;
}
.hebergement-ville h2 {
  margin: 0 15px;
  font-size: 1.2em;
}
.articles-container {
  padding: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.article {
  background: white;
  margin: 10px;
  text-align: left;
  padding: 5px;
  border-radius: 20px;
  -webkit-box-shadow: 3px 3px 27px -3px rgba(0, 0, 0, 0.78);
  box-shadow: 3px 3px 27px -3px rgba(0, 0, 0, 0.217);
  width: 90%;
  cursor: pointer;
}
.article h3 {
  margin: 5px;
  font-size: 0.9em;
}
.article h4 {
  margin: 5px;
  font-size: 0.8em;
  font-weight: 200;
}
.star {
  color: rgba(128, 128, 128, 0.158);
}
.rate {
  font-size: 0.7em;
  color: rgb(73, 73, 226);
}
.article img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 100px;
  width: 100%;
  object-fit: cover;
}
.rate {
  display: flex;
  margin-left: 5px;
}
.rate li {
  cursor: pointer;
}
.hebergement-ville span {
  font-weight: bold;
  margin: 0 15px;
}
/* Parti populaire */
.populaires {
  background: rgba(128, 128, 128, 0.177);
  margin: 60px 0;
  padding: 20px;
  border-radius: 20px;
  max-height: 450;
  position: relative;
}
.populaires h2 {
  font-size: 1.2em;
}
#chart {
  position: absolute;
  right: 5%;
  top: 5%;
  color: blue;
  cursor: pointer;
}
.populaire-container {
  margin-top: 30px;
  height: 85%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.populaire-article {
  display: grid;
  grid-template-columns: 40% 60%;
  padding: 3px;
  background: white;
  border-radius: 15px;
  max-height: 110px;
  -webkit-box-shadow: 3px 3px 27px -3px rgba(0, 0, 0, 0.78);
  box-shadow: 3px 3px 27px -3px rgba(0, 0, 0, 0.226);
  cursor: pointer;
}
.populaire-article img {
  max-height: 105px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.populaire-text {
  position: relative;
  margin-left: 10px;
}
.populaire-text h3 {
  margin: 5px 0;
  font-size: 0.9em;
}
.populaire-text h4 {
  font-size: 0.8em;
  font-weight: 200;
}
.populaire-text .rate {
  position: absolute;
  bottom: 5%;
}
/* ACTIVITES */
.activite-container {
  margin: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;
}
.activite-article {
  cursor: pointer;
  border-radius: 25px;
  -webkit-box-shadow: 3px 3px 27px -3px rgba(0, 0, 0, 0.78);
  box-shadow: 3px 3px 27px -3px rgba(0, 0, 0, 0.226);
}
.activite-article h4 {
  padding: 15px;
  font-size: 0.9em;
}
.activite-article img {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  height: 400px;
  width: 100%;
  object-fit: cover;
}
footer {
  background: rgba(128, 128, 128, 0.08);
  display: grid;
  grid-template-columns: 30% 30% 60%;
  margin-top: 80px;
  padding: 35px;
  min-height: 180px;
}
.footer-ul p {
  font-weight: bold;
}
.footer-ul li {
  margin: 15px 0;
  font-weight: 300;
  font-size: 0.9em;
}
